.sliderContainer 
{
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: var(--max-width-content);
    position: relative;
    overflow: hidden;
}

.slidersContainer 
{
    display: flex;
    flex-direction: row;
    gap: 80px;
    transition: transform 0.5s ease-in-out;
}

.testimonialCard 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    min-height: 230px;
    background: white;
    border: 2px solid #DDDDDD;
    padding: 30px;
}



div.testimonialCard.active 
{
    box-shadow: 0 6px 12px #F53838;
    border: 2px solid #F53838;
}

.userContainer 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userInfoContainer 
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.userInfo 
{
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.logoUser 
{
    max-width: 50px;
    max-height: 50px;
}

.dataUser 
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.dataUser h1 
{
    font-size: 18px;
    color: #0B132A;
}

.dataUser p {
    font-size: 14px;
    color: #4F5665;
}

.userRating 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.userRating p 
{
    color: #0B132A;
    font-size: 16px;
}

.userRating img 
{
    max-width: 16px;
    max-height: 16px;
}

.commentUser 
{
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
}


.sliderControl 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sliderButtos 
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sliderNextButton, .sliderPrevButton
{
    color: #F53838;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    background: none;
    border: 2px solid #F53838;
    border-radius: 100%;
}

.sliderNextButton:hover, .sliderPrevButton:hover 
{
    color: white;
    background: #F53838;
   
}


.indicators 
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dot 
{
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 3s ease-in-out;
}

.dot.active 
{
    background: #F53838;
    
}