@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*
{
  padding: 0px;
  margin: 0px;
  font-family: 'Rubik', sans-serif;
}

a
{
  text-decoration: none;
  color: #4F5665;
}

:root
{
  --max-width-content:1500px;
}

main
{
    max-width: var(--max-width-content) ;
}

body
{
    width: 100vw;
    box-sizing: border-box;  
    display: grid;
    justify-content: center;
    margin: auto;
}